<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="css/console.css">
    <title>Adder</title>
</head>
<body>
    <div id="body"></div>
    <div id="adder">
        <input type="text" id="theData">
        <button id="send">Send</button>
    </div>
    <script src="js/getdatas.js"></script>
</body>
</html>
